*{
   margin: 0
   padding: 0
 }
 body{
   width: 100%;
   height: 100%;
   font-size: 14px;
   font-weight: normal;
 }
 .background{
   width: 100%;
   height: 100%;
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgZEQXPumAPB51WEv1by0Jg2TNXu7b_L4QPucZMR1H-LBZMS_e");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   overflow-y: auto;
 }
