*{
   margin: 0
   padding: 0
 }
 body{
   width: 100%;
   height: 100%;
   font-style:
 }
 *{
   width: 100%;
   height: 100%;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLxxcOq8_DI2lbR02kWsxGUS7ObE53lPPKjmXjByQ7BSHZ4siw);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   overflow-y: auto;
 }
