*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://wallpapercave.com/wp/P7Uwcss.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  font-family: 'Bubblegum Sans', cursive;
}
p{
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  text-align: left;
}
ul{
  list-style-type:none;
  font-size: 18px;
  margin: 2px 2px;
  color: purple;
}
body h1{
  font-size: 55px;
  text-align: right;
}
body h2{
  font-size: 28px;
  color: black;
  margin: 3px 3px;
  padding: 10px;
}
body h3{
  font-size: 28px;
  color: black;
  margin: 3px 3px;
  padding: 10px;
}
