*
body{
  background-image: url("https://wallpapercave.com/wp/P7Uwcss.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  font-family: 'Bubblegum Sans', cursive;
}
p{
  font-size: 28px;
  text-align: left;
  text-decoration: none;
}
ul{
  list-style-type:none;
  font-size: 22px;
  margin: 2px 0;
  text-align: center;
  color: black;
}
body h1{
  font-size: 40px;
  text-align: center;
  text-transform: none;
  text-decoration-line: underline;
}
