*{
  margin: 0;
  padding: 0;
 }
 body{
   background-image: url("https://wallpapercave.com/wp/P7Uwcss.jpg");
   background-repeat: no-repeat;
   position: relative;
   background-size: cover;
   background-attachment: local;
   overflow-y: auto;
   font-family: 'Fruktur', cursive;
   font-size: 35px;
 }
 p{
   font-size: 20px;
   text-align: left;
   text-decoration: none;
   text-align: left;
   padding: 10px;
   margin: 2px 0;
 }
 ul{
   list-style-type:none;
   font-size: 18px;
   color: purple;
   padding-left: 50px;
 }
 body h1{
   font-size: 55px;
   text-align: right;
 }
 body h2{
   font-size: 28px;
   color: black;
   margin: 2px;
   padding: 10px;
 }
 body h3{
   font-size: 28px;
   color: black;
   margin: 2px 0;
   padding: 10px;
 }
