*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://wallpapercave.com/wp/P7Uwcss.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y:auto;
  font-family: 'Fruktur', cursive;
  font-size: 25px;
  display: block;
}
body h1{
  text-align: right;
  font-size: 60px;
  text-align: right;
  text-transform: none;
  text-decoration: underline;
  text-decoration-style: double;
  padding-bottom: 40px
}
p {
  text-align: left;
  padding: 10px;
  opacity: 0.9;
  float: left;
}
a{
  text-decoration: underline;
  text-align: left;
  float: left;
}
