*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://wallpapercave.com/wp/P7Uwcss.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: local;
}
